@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #111;
  font-family: 'Inter', sans-serif;

  min-height: 100vh;
}
.parent{
  display: flex;
  flex-wrap: wrap;

}

/* Card Container */
.job-card {
  background: #ffffff;
  width: 230px;
  border-radius: 28px;
  padding: 24px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.04);
  border: 1px solid #f0f0f0;
  margin: 20px;
}

/* Header: Logo & Save */
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.logo-box {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 1px solid #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-box img {
  width: 32px;
  height: auto;
}


.save-button {
  background: transparent;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  padding: 8px 14px;
  font-size: 14px;
  color: #555;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
}
.save-button:hover {
  background: #f5f5f5;
  border-color: #dcdcdc;
}
/* Content */
.company-row {
  margin-bottom: 8px;
}
.content{
  margin-bottom: 70px;
}
.company-name {
  font-size: 16px;
  font-weight: 700;
  color: #111;
}

.posted-at {
  font-size: 13px;
  color: #999;
  margin-left: 8px;
}

.title {
  font-size: 17px;
  font-weight: 700;
  color: #111;
  margin: 0 0 16px 0;
}

.tags-row {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.pill {
  background: #f3f3f3;
  color: #444;
  padding: 6px 14px;
  border-radius: 10px;
  font-size: 10px;
  font-weight: 500;
}

.separator {
  border: 0;
  border-top: 1px solid #f1f1f1;
  margin-bottom: 20px;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.salary {
  font-size: 18px;
  font-weight: 700;
  color: #111;
  display: block;
}

.location {
  font-size: 13px;
  color: #888;
  margin-top: 2px;
}

.apply-button {
  background: #171717;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 12px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}
